<div class="body">
   <div class="top_text">
   <h1>Welcome to the Sample App</h1>
   <p>This is the home page for the Ruby on Rails Tutorial sample application.</p>
   </div>
    <div class="button">
      <p><%= link_to "sign up now!",new_path,class:"butten_text"%></p>
    </div>
</div>