 <div class="footer">
     <%=link_to "Ruby on Rails Tutorial","#",class:"footer_text"%>
     <%=link_to "About","#",class:"footer_text2"%>
     <%=link_to "Contact","#",class:"footer_text2"%>
     <%=link_to "News","#",class:"footer_text2"%>
    </div>